In [6]:
import pandas as pd
x=37
y=26
x1=32
y1=16
wd=0
dic={}
dx=(x1-x)
dy=(y1-y)
if dx<0:
    dx=-dx
if dy<0:
    dy=-dy
m=dy/dx
k=0
if m<=1:
    if y<y1:
        while wd in range(dx):
            x=x+1
            y=y+m
            a=x
            b=y
            keys = wd
            dic[keys] = a,b
            wd=wd+1
    if y1>y:
        while wd in range(dx):
            x=x-1
            y=y-m
            a=x
            b=y
            keys = wd
            dic[keys] = a,b
            wd=wd+1
if m>1:
     if x<x1:
        while wd in range(dy):
            x=x+m1
            y=y+1
            a=x
            b=y
            keys = wd
            dic[keys] = a,b
            wd=wd+1
    
     if x>x1:
        while wd in range(dy):
            x=x-m1
            y=y-1
            a=x
            b=y
            keys = wd
            dic[keys] = a,b
            wd=wd+1

df = pd.DataFrame(dic.values(), columns=["X", "Y"]) 
df

      X   Y
0  36.5  25
1  36.0  24
2  35.5  23
3  35.0  22
4  34.5  21
5  34.0  20
6  33.5  19
7  33.0  18
8  32.5  17
9  32.0  16